[user]
    name = Richard B. Kaufman-López
    email = richardbkaufman@gmail.com

[alias]
    s = status
    c = commit
    co = checkout
    b = branch
    h = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    d = diff
    dc = diff --cached
    ss = show --summary
    ri = rebase -i
    rc = rebase --continue
    ra = rebase --abort
    fix = !git diff --name-only | uniq | xargs code-insiders
    fixup = commit --fixup
    l = log --oneline 
    pushf = push --force-with-lease
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
[rebase]
	autoSquash = true
	autoStash = true
[pull]
	rebase = true
[fetch]
	prune = true
